body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 36px;
  color: black;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.loginFormGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Adiciona espaço entre os grupos */
}

.inputWithIcon {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px; /* Arredondamento das bordas */
  padding: 10px;
  background-color: #f9f9f9;
  width: 200%;
  max-width: 600px; /* Aumenta a largura do campo */
}

.inputWithIcon .icon {
  margin-right: 10px;
  color: #3b5998;
}

.formField {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  padding: 10px; /* Aumenta o padding para aumentar a altura */
  box-sizing: border-box;
}

.formError {
  color: rgb(237, 67, 55);
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 5px;
}

.button {
  background-color: #3b5998;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
  margin-top: 20px;
  width: 100%;
  max-width: 150px;
  text-align: center;
}

.button:hover {
  background-color: #2d4373;
}

/* Tamanhos pequenos (telefones pequenos e alguns tablets em modo retrato) */
@media only screen and (max-width: 576px) {
  .inputWithIcon {
    width: 90%; /* Reduz a largura do campo em telas menores */
  }
}

/* Tamanhos médios (tablets em modo paisagem e alguns laptops) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .inputWithIcon {
    width: 80%; /* Reduz a largura do campo em telas médias */
  }
}

/* Tamanhos grandes (desktops e laptops maiores) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .inputWithIcon {
    width: 70%; /* Reduz a largura do campo em telas grandes */
  }
}

/* Tamanhos extra grandes (telas maiores, como monitores widescreen) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .inputWithIcon {
    width: 60%; /* Reduz a largura do campo em telas extra grandes */
  }
}

/* Tamanhos extra extra grandes (telas muito grandes, como monitores ultrawide) */
@media only screen and (min-width: 1201px) {
  .inputWithIcon {
    width: 50%; /* Reduz a largura do campo em telas extra extra grandes */
  }
}
