/* mensagemp.module.css */

.container {
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 28px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: red;
    text-align: center;
}

.messageList {
    list-style-type: none;
    padding: 0;
}

.messageItem {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
    color: #3b5998;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}

.button {
    background-color: #3b5998;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.button:hover {
    background-color: #2d4373;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #3b5998;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.pagination span {
    font-size: 16px;
}

.noMessage {
    color: black; 
    text-align: center;
}
