.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  font-family: 'Lato', sans-serif;
}

.text {
  max-width: 800px;
  text-align: justify; /* Justifica o texto */
  margin-bottom: 20px;
}

.text_logo {
  display: block;
  margin: 0 auto 20px auto; /* Centraliza o logo */
  width: 200px;
}

.text p {
  font-size: 18px;
  color: black;
  line-height: 1.6;
}

.button {
  background-color: #3b5998;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 25px; /* Aumentado para deixar mais arredondado */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
}

.button:hover {
  background-color: #2d4373;
}

@media only screen and (max-width: 576px) {
  .form-field {
    width: 90%; /* Reduz a largura do campo em telas menores */
  }
}

/* Tamanhos médios (tablets em modo paisagem e alguns laptops) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .form-field {
    width: 70%; /* Reduz a largura do campo em telas médias */
  }
}

/* Tamanhos grandes (desktops e laptops maiores) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .form-field {
    width: 60%; /* Reduz a largura do campo em telas grandes */
  }
}

/* Tamanhos extra grandes (telas maiores, como monitores widescreen) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .form-field {
    width: 50%; /* Reduz a largura do campo em telas extra grandes */
  }
}

/* Tamanhos extra extra grandes (telas muito grandes, como monitores ultrawide) */
@media only screen and (min-width: 1201px) {
  .form-field {
    width: 40%; /* Reduz a largura do campo em telas extra extra grandes */
  }
}