/* Estilos para a tabela de usuários */
.table-container {
  display: flex;
  justify-content: center;
}
.user-table {
  width: 75%;
  border-collapse: collapse;
  padding-left: 20px;
  margin-bottom: 100px;/* Adiciona margem inferior para separar da paginação */
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px ;
  padding-left: 10px; /* Adiciona espaçamento à esquerda */
  white-space: nowrap; /* Impede que o texto seja quebrado */
  overflow: hidden; /* Oculta qualquer conteúdo extra que não caiba */
  text-overflow: ellipsis; /* Adiciona reticências ao final do texto que não couber */
}
.user-table button {
  /* Estilos para o botão "Excluir" */
  background-color: #ff6347; /* Cor de fundo vermelha */
  color: white; /* Cor do texto branca */
  border: none; /* Remove a borda do botão */
  padding: 5px 10px; /* Preenchimento interno do botão */
  cursor: pointer; /* Altera o cursor ao passar por cima para indicar que é clicável */
  margin: 0 auto; /* Centraliza o botão horizontalmente */
  display: block; /* Transforma o botão em um bloco para aplicar margem automática */
}

.user-table button:hover {
  background-color: #cc4125; /* Altera a cor de fundo quando o mouse passa por cima */
}

h2{
  padding: 20px;
}

.user-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table tr:hover {
  background-color: #ddd;
}

/* Responsividade para a tabela de usuários */
@media only screen and (max-width: 1200px) {
  .user-table th,
  .user-table td {
    padding: 5px; /* Reduz o preenchimento das células em telas menores */
    font-size: 12px; /* Reduz o tamanho da fonte em telas menores */
  }
}

@media only screen and (max-width: 992px) {
  .user-table th,
  .user-table td {
    padding: 4px; /* Reduz ainda mais o preenchimento das células em telas menores */
    font-size: 11px; /* Reduz ainda mais o tamanho da fonte em telas menores */
  }
}

@media only screen and (max-width: 768px) {
  .user-table th,
  .user-table td {
    padding: 3px; /* Reduz ainda mais o preenchimento das células em telas menores */
    font-size: 10px; /* Reduz ainda mais o tamanho da fonte em telas menores */
  }
}

@media only screen and (max-width: 576px) {
  .user-table th,
  .user-table td {
    padding: 2px; /* Reduz ainda mais o preenchimento das células em telas menores */
    font-size: 9px; /* Reduz ainda mais o tamanho da fonte em telas menores */
  }
}

@media only screen and (max-width: 360px) {
  .user-table th,
  .user-table td {
    padding: 1px; /* Reduz ainda mais o preenchimento das células em telas muito pequenas */
    font-size: 8px; /* Reduz ainda mais o tamanho da fonte em telas muito pequenas */
  }
}

/* Estilos para a paginação */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.botao-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 20px; /* Ajusta o espaçamento à direita */
}

.botao {
  padding: 10px 20px;
  border-radius: 5px; /* Ajusta a borda arredondada */
  background-color: #3b5998;
  border: none;
  
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  display: inline-block; /* Certifica-se de que o botão não ocupa toda a linha */
  transition: background-color 0.3s; /* Transição suave para o efeito hover */
}

.botao:hover {
  background-color: #027c99; /* Cor de fundo quando o mouse passa por cima */
}
