body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
 
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 36px;
  color: black;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
}

.senhaNova {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px ;
   /* Adiciona espaço entre os grupos */
}

.senhaAtual {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
   /* Adiciona espaço entre os grupos */
}

.form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%; /* Garante que o formulário ocupe toda a largura */
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0px; /* Adiciona espaço entre os elementos na coluna */
}

.inputWithIcon {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px; /* Arredondamento das bordas */
  padding: 10px;
  background-color: #f9f9f9;
  width: 100%; /* Garante que os campos ocupem toda a coluna */
  max-width: 600px;
  box-sizing: border-box;
}

.inputWithIcon .icon {
  margin-right: 10px;
  color: #3b5998;
}

.formField {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
}

.formError {
  color: rgb(237, 67, 55);
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 5px;
}

.button {
  background-color: #3b5998;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
  margin-top: 20px;
  width: 100%;
  max-width: 150px;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.button:hover {
  background-color: #2d4373;
}

/* Tamanhos pequenos (telefones pequenos e alguns tablets em modo retrato) */
@media only screen and (max-width: 576px) {
  .form {
    flex-direction: column;
    align-items: center;
  }

  .inputWithIcon {
    width: 100%; /* Garante que o campo ocupe a largura total em telas pequenas */
  }
}

/* Tamanhos médios (tablets em modo paisagem e alguns laptops) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .inputWithIcon {
    width: 90%; /* Ajusta a largura para telas médias */
  }
}

/* Tamanhos grandes (desktops e laptops maiores) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .inputWithIcon {
    width: 80%; /* Ajusta a largura para telas grandes */
  }
}

/* Tamanhos extra grandes (telas maiores, como monitores widescreen) */
@media only screen and (min-width: 993px) {
  .inputWithIcon {
    width: 100%; /* Mantém a largura proporcional em telas grandes */
  }
}
