.hamburger-menu {
  position: absolute;
  top: 60px; /* Ajuste conforme a altura do seu header */
  left: 0;
  z-index: 1000; /* Garante que o menu está acima do calendário */
}

.menu-icon {
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 10px;
}

.menu-items {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 5px 5px 0;
  padding: 20px;
  width: auto; /* Largura automática para ajustar ao conteúdo */
  max-width: 500px; /* Largura máxima */
  box-sizing: border-box;
  z-index: 1001; /* Garante que o menu está acima do calendário */
}

.menu-items a {
  display: block;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid #ccc; /* Linha cinza mais clara */
}

.menu-items .button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background: white; /* Fundo branco */
  border: none;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  color: #3b5998; /* Cor do texto */
}

.menu-items .button svg {
  color: #3b5998; /* Cor dos ícones */
  margin-right: 10px; /* Espaço entre ícone e texto */
}

.menu-items .button:hover {
  background: #f0f0f0; /* Fundo ao passar o mouse */
}

.menu-items .logout-button:hover {
  background: #f0f0f0;
}

.close-icon {
  font-size: 2.5rem;
  position: absolute;
  cursor: pointer;
  color: black; /* Cor preta para o ícone de fechar */
  z-index: 1002; /* Garante que o ícone de fechar está acima de tudo no menu */
  padding: 10px;
}

.open .menu-items {
  display: block;
}

.calendar-container {
  position: relative;
  z-index: 1; /* Garante que o calendário está abaixo do menu */
}
